In [ ]:
import pandas as pd
import numpy as np

path_to_data_folder = "../Data/"

# خواندن داده‌ها
train = pd.read_csv(path_to_data_folder + "train.csv")
test = pd.read_csv(path_to_data_folder + "test.csv")

In [ ]:
for col in train.columns:
    print(f"-- {col} -- ")
    print(train[col].info(), end="\n\n")
    print(train[col].describe(), end="\n\n")
    print(train[col].head(3))
    print("--------------------", end="\n\n")

-- userID --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: userID
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count     15235
unique     1000
top       V0799
freq         27
Name: userID, dtype: object

0    V0921
1    V0286
2    V0004
Name: userID, dtype: object
--------------------

-- restaurantID --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: restaurantID
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count     15235
unique       50
top        R034
freq        336
Name: restaurantID, dtype: object

0    R015
1    R050
2    R024
Name: restaurantID, dtype: object
--------------------

-- RName --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: RName
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count      15235
unique        50
top       Butler
freq         336
Name: RName, dtype: object

0       Big Wine Freaks
1    Probka na Tsvetnom
2                 Pinch
Name: RName, dtype: object
--------------------

-- Cuisine --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Cuisine
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count        15235
unique          10
top       Georgian
freq          2760
Name: Cuisine, dtype: object

0      Fusion
1    Author's
2      Fusion
Name: Cuisine, dtype: object
--------------------

-- Area --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Area
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean       204.377814
std         99.284343
min         67.000000
25%        136.000000
50%        175.000000
75%        256.000000
max        532.000000
Name: Area, dtype: float64

0    136
1    173
2    125
Name: Area, dtype: int64
--------------------

-- Seats --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Seats
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean        71.885199
std         30.858086
min         31.000000
25%         51.000000
50%         63.000000
75%         84.000000
max        168.000000
Name: Seats, dtype: float64

0    36
1    37
2    73
Name: Seats, dtype: int64
--------------------

-- Halls_Count --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Halls_Count
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         1.654480
std          0.734347
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          3.000000
Name: Halls_Count, dtype: float64

0    2
1    2
2    1
Name: Halls_Count, dtype: int64
--------------------

-- Summer_Terrace --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Summer_Terrace
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count     15235
unique        2
top         Yes
freq       9435
Name: Summer_Terrace, dtype: object

0     No
1    Yes
2    Yes
Name: Summer_Terrace, dtype: object
--------------------

-- VIP_Zone --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: VIP_Zone
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count     15235
unique        2
top          No
freq      11556
Name: VIP_Zone, dtype: object

0     No
1    Yes
2     No
Name: VIP_Zone, dtype: object
--------------------

-- Avg_Bill --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Avg_Bill
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean      4483.478832
std       1376.867971
min       1667.000000
25%       3361.000000
50%       4288.000000
75%       5496.000000
max       9397.000000
Name: Avg_Bill, dtype: float64

0    5540
1    3768
2    2893
Name: Avg_Bill, dtype: int64
--------------------

-- Staff_Count --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Staff_Count
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean        34.608533
std         18.192535
min          5.000000
25%         21.000000
50%         31.000000
75%         44.000000
max         94.000000
Name: Staff_Count, dtype: float64

0    22
1    27
2    13
Name: Staff_Count, dtype: int64
--------------------

-- Michelin_Stars --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Michelin_Stars
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         0.141122
std          0.400750
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: Michelin_Stars, dtype: float64

0    0
1    0
2    0
Name: Michelin_Stars, dtype: int64
--------------------

-- Age --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Age
Non-Null Count  Dtype
--------------  -----
15235 non-null  int64
dtypes: int64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean        42.440368
std         13.441398
min         18.000000
25%         31.000000
50%         43.000000
75%         54.000000
max         65.000000
Name: Age, dtype: float64

0    55
1    27
2    27
Name: Age, dtype: int64
--------------------

-- Gender --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Gender
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count     15235
unique        2
top        Male
freq       7973
Name: Gender, dtype: object

0      Male
1    Female
2    Female
Name: Gender, dtype: object
--------------------

-- Profession --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Profession
Non-Null Count  Dtype
--------------  -----
15235 non-null  object
dtypes: object(1)
memory usage: 119.2+ KB
None

count     15235
unique       10
top       Sales
freq       1758
Name: Profession, dtype: object

0       Sales
1    Creative
2     Student
Name: Profession, dtype: object
--------------------

-- Openness --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Openness
Non-Null Count  Dtype
--------------  -----
15235 non-null  float64
dtypes: float64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         0.608977
std          0.150300
min          0.100000
25%          0.510000
50%          0.610000
75%          0.710000
max          1.000000
Name: Openness, dtype: float64

0    0.68
1    0.65
2    0.54
Name: Openness, dtype: float64
--------------------

-- Conscientiousness --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Conscientiousness
Non-Null Count  Dtype
--------------  -----
15235 non-null  float64
dtypes: float64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         0.544085
std          0.151963
min          0.060000
25%          0.440000
50%          0.550000
75%          0.650000
max          1.000000
Name: Conscientiousness, dtype: float64

0    0.65
1    0.53
2    0.42
Name: Conscientiousness, dtype: float64
--------------------

-- Extraversion --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Extraversion
Non-Null Count  Dtype
--------------  -----
15235 non-null  float64
dtypes: float64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         0.494836
std          0.180782
min          0.000000
25%          0.370000
50%          0.490000
75%          0.610000
max          1.000000
Name: Extraversion, dtype: float64

0    0.65
1    0.74
2    0.77
Name: Extraversion, dtype: float64
--------------------

-- Agreeableness --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Agreeableness
Non-Null Count  Dtype
--------------  -----
15235 non-null  float64
dtypes: float64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         0.597021
std          0.102993
min          0.210000
25%          0.530000
50%          0.600000
75%          0.670000
max          0.980000
Name: Agreeableness, dtype: float64

0    0.63
1    0.51
2    0.64
Name: Agreeableness, dtype: float64
--------------------

-- Neuroticism --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Neuroticism
Non-Null Count  Dtype
--------------  -----
15235 non-null  float64
dtypes: float64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         0.459304
std          0.193717
min          0.000000
25%          0.320000
50%          0.460000
75%          0.590000
max          1.000000
Name: Neuroticism, dtype: float64

0    0.48
1    0.54
2    0.68
Name: Neuroticism, dtype: float64
--------------------

-- Rating --
<class 'pandas.core.series.Series'>
RangeIndex: 15235 entries, 0 to 15234
Series name: Rating
Non-Null Count  Dtype
--------------  -----
15235 non-null  float64
dtypes: float64(1)
memory usage: 119.2 KB
None

count    15235.000000
mean         2.670627
std          0.991883
min          1.000000
25%          2.000000
50%          2.500000
75%          3.500000
max          5.000000
Name: Rating, dtype: float64

0    2.5
1    1.0
2    2.0
Name: Rating, dtype: float64
--------------------

In [ ]:
cols_to_drop = ["userID", "restaurantID", "RName"]
train = train.drop(columns=cols_to_drop)
test = test.drop(columns=cols_to_drop)

In [ ]:
print(train.isnull().sum())
print(test.isnull().sum())

Cuisine              0
Area                 0
Seats                0
Halls_Count          0
Summer_Terrace       0
VIP_Zone             0
Avg_Bill             0
Staff_Count          0
Michelin_Stars       0
Age                  0
Gender               0
Profession           0
Openness             0
Conscientiousness    0
Extraversion         0
Agreeableness        0
Neuroticism          0
Rating               0
dtype: int64
Cuisine              0
Area                 0
Seats                0
Halls_Count          0
Summer_Terrace       0
VIP_Zone             0
Avg_Bill             0
Staff_Count          0
Michelin_Stars       0
Age                  0
Gender               0
Profession           0
Openness             0
Conscientiousness    0
Extraversion         0
Agreeableness        0
Neuroticism          0
dtype: int64

In [ ]:
# اضافه کردن ستون هدف به نسخه‌ای از train برای حفظ ساختار
train_features = train.drop(columns="Rating")
combined = pd.concat([train_features, test], axis=0)

# ستون‌های دسته‌ای
categorical_cols = ["Cuisine", "Gender", "Profession", "Summer_Terrace", "VIP_Zone"]

# One-Hot Encoding
combined_encoded = pd.get_dummies(combined, columns=categorical_cols, drop_first=True)

# جدا کردن دوباره مجموعه‌ها
X = combined_encoded.iloc[: len(train)]
X_test = combined_encoded.iloc[len(train) :]

# y فقط از train گرفته می‌شود
y = train["Rating"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

# تقسیم آموزش/اعتبارسنجی
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# آموزش مدل
model = LinearRegression()
model.fit(X_train, y_train)

# پیش‌بینی و ارزیابی
y_pred = model.predict(X_val)

r2_train = r2_score(y_train, model.predict(X_train))
r2_val = r2_score(y_val, y_pred)

rmse_train = np.sqrt(mean_squared_error(y_train, model.predict(X_train)))
rmse_val = np.sqrt(mean_squared_error(y_val, y_pred))

print(f"R2 (Train): {r2_train:.4f}")
print(f"R2 (Validation): {r2_val:.4f}")
print(f"RMSE (Train): {rmse_train:.4f}")
print(f"RMSE (Validation): {rmse_val:.4f}")

R2 (Train): 0.8830
R2 (Validation): 0.8813
RMSE (Train): 0.3393
RMSE (Validation): 0.3415

In [ ]:
# پیش‌بینی امتیاز روی داده تست
test_predictions = model.predict(X_test)

# ساخت DataFrame خروجی
submission = pd.DataFrame({"Rating": test_predictions})