In [ ]:
import pandas as pd
import numpy as np


path_to_data_folder = "../Data/"

train = pd.read_csv(path_to_data_folder + "train.csv")
test = pd.read_csv(path_to_data_folder + "test.csv")

In [ ]:
for col in train.columns:
    print(f"-- {col} -- ")
    print(train[col].info(), end="\n\n")
    print(train[col].describe(), end="\n\n")
    print(train[col].head(3))
    print("--------------------", end="\n\n")

-- customer_id --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: customer_id
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count                                     4000
unique                                    4000
top       d3b99f7e-d0ac-4199-8813-91665f16b3fb
freq                                         1
Name: customer_id, dtype: object

0    d3b99f7e-d0ac-4199-8813-91665f16b3fb
1    4fd24bc2-10ac-4a18-96cd-1f062ba5024c
2    0a77605c-e86e-4b72-91a1-7a49969c1ac1
Name: customer_id, dtype: object
--------------------

-- age --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: age
Non-Null Count  Dtype
--------------  -----
4000 non-null   int64
dtypes: int64(1)
memory usage: 31.4 KB
None

count    4000.000000
mean       43.686250
std        15.482029
min        18.000000
25%        30.000000
50%        44.000000
75%        57.000000
max        70.000000
Name: age, dtype: float64

0    23
1    20
2    18
Name: age, dtype: int64
--------------------

-- gender --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: gender
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count       4000
unique         3
top       Female
freq        1367
Name: gender, dtype: object

0    Female
1      Male
2    Female
Name: gender, dtype: object
--------------------

-- subscription_type --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: subscription_type
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count        4000
unique          3
top       Premium
freq         1355
Name: subscription_type, dtype: object

0     Premium
1    Standard
2       Basic
Name: subscription_type, dtype: object
--------------------

-- watch_hours --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: watch_hours
Non-Null Count  Dtype
--------------  -----
4000 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB
None

count    4000.000000
mean       11.590895
std        11.780691
min         0.010000
25%         3.360000
50%         8.075000
75%        16.052500
max       101.060000
Name: watch_hours, dtype: float64

0    4.03
1    2.89
2    7.65
Name: watch_hours, dtype: float64
--------------------

-- last_login_days --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: last_login_days
Non-Null Count  Dtype
--------------  -----
4000 non-null   int64
dtypes: int64(1)
memory usage: 31.4 KB
None

count    4000.00000
mean       30.10175
std        17.60028
min         0.00000
25%        15.00000
50%        30.00000
75%        45.00000
max        60.00000
Name: last_login_days, dtype: float64

0     3
1    13
2    49
Name: last_login_days, dtype: int64
--------------------

-- region --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: region
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count              4000
unique                6
top       South America
freq                703
Name: region, dtype: object

0    North America
1    South America
2           Europe
Name: region, dtype: object
--------------------

-- device --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: device
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count       4000
unique         5
top       Tablet
freq         850
Name: device, dtype: object

0     Mobile
1    Desktop
2    Desktop
Name: device, dtype: object
--------------------

-- monthly_fee --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: monthly_fee
Non-Null Count  Dtype
--------------  -----
4000 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB
None

count    4000.000000
mean       13.686250
std         3.691191
min         8.990000
25%         8.990000
50%        13.990000
75%        17.990000
max        17.990000
Name: monthly_fee, dtype: float64

0    17.99
1    13.99
2     8.99
Name: monthly_fee, dtype: float64
--------------------

-- payment_method --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: payment_method
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count       4000
unique         5
top       PayPal
freq         828
Name: payment_method, dtype: object

0        PayPal
1    Debit Card
2    Debit Card
Name: payment_method, dtype: object
--------------------

-- number_of_profiles --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: number_of_profiles
Non-Null Count  Dtype
--------------  -----
4000 non-null   int64
dtypes: int64(1)
memory usage: 31.4 KB
None

count    4000.000000
mean        3.028750
std         1.415777
min         1.000000
25%         2.000000
50%         3.000000
75%         4.000000
max         5.000000
Name: number_of_profiles, dtype: float64

0    5
1    2
2    1
Name: number_of_profiles, dtype: int64
--------------------

-- avg_watch_time_per_day --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: avg_watch_time_per_day
Non-Null Count  Dtype
--------------  -----
4000 non-null   float64
dtypes: float64(1)
memory usage: 31.4 KB
None

count    4000.000000
mean        0.882547
std         2.742768
min         0.000000
25%         0.110000
50%         0.300000
75%         0.720000
max        98.420000
Name: avg_watch_time_per_day, dtype: float64

0    1.01
1    0.21
2    0.15
Name: avg_watch_time_per_day, dtype: float64
--------------------

-- favorite_genre --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: favorite_genre
Non-Null Count  Dtype
--------------  -----
4000 non-null   object
dtypes: object(1)
memory usage: 31.4+ KB
None

count      4000
unique        7
top       Drama
freq        588
Name: favorite_genre, dtype: object

0    Romance
1     Sci-Fi
2      Drama
Name: favorite_genre, dtype: object
--------------------

-- churned --
<class 'pandas.core.series.Series'>
RangeIndex: 4000 entries, 0 to 3999
Series name: churned
Non-Null Count  Dtype
--------------  -----
4000 non-null   int64
dtypes: int64(1)
memory usage: 31.4 KB
None

count    4000.000000
mean        0.503000
std         0.500054
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: churned, dtype: float64

0    0
1    1
2    1
Name: churned, dtype: int64
--------------------

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# 1. حذف ستون customer_id
train = train.drop(columns=["customer_id"])
test = test.drop(columns=["customer_id"])

# 2. بررسی مقادیر گمشده (در صورت وجود)
print("Missing values in train:\n", train.isnull().sum())
print("Missing values in test:\n", test.isnull().sum())

# فرض می‌کنیم داده‌ها مقدار گمشده ندارند؛ در غیر این صورت باید مدیریت کنیم.

# 3. جداسازی ستون‌های عددی و دسته‌ای
numerical_cols = [
    "age",
    "watch_hours",
    "last_login_days",
    "monthly_fee",
    "number_of_profiles",
    "avg_watch_time_per_day",
]
categorical_cols = [
    "gender",
    "subscription_type",
    "region",
    "device",
    "payment_method",
    "favorite_genre",
]

# 4. کدگذاری و مقیاس‌بندی
# برای ساده بودن، ستون‌های دسته‌ای را با One-Hot Encoding و عددی‌ها را با StandardScaler تبدیل می‌کنیم.

# ستون هدف:
target = "churned"

# تعریف پیش‌پردازنده
preprocessor = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), numerical_cols),
        ("cat", OneHotEncoder(handle_unknown="ignore"), categorical_cols),
    ]
)

# اجرای پیش‌پردازش روی داده آموزشی
X_train = train.drop(columns=[target])
y_train = train[target]

X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(test)

print("Preprocessing done.")
print(f"Shape of processed train data: {X_train_processed.shape}")
print(f"Shape of processed test data: {X_test_processed.shape}")

Missing values in train:
 age                       0
gender                    0
subscription_type         0
watch_hours               0
last_login_days           0
region                    0
device                    0
monthly_fee               0
payment_method            0
number_of_profiles        0
avg_watch_time_per_day    0
favorite_genre            0
churned                   0
dtype: int64
Missing values in test:
 age                       0
gender                    0
subscription_type         0
watch_hours               0
last_login_days           0
region                    0
device                    0
monthly_fee               0
payment_method            0
number_of_profiles        0
avg_watch_time_per_day    0
favorite_genre            0
dtype: int64
Preprocessing done.
Shape of processed train data: (4000, 35)
Shape of processed test data: (1000, 35)

In [ ]:
from sklearn.model_selection import train_test_split

# تقسیم داده‌ها به 80% آموزش و 20% اعتبارسنجی
X_train_split, X_val_split, y_train_split, y_val_split = train_test_split(
    X_train_processed, y_train, test_size=0.2, random_state=42, stratify=y_train
)

print(f"Training set shape: {X_train_split.shape}")
print(f"Validation set shape: {X_val_split.shape}")

Training set shape: (3200, 35)
Validation set shape: (800, 35)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# تعریف مدل رگرسیون لجستیک
model = LogisticRegression(max_iter=1000, random_state=42)

# آموزش مدل روی داده‌های آموزش
model.fit(X_train_split, y_train_split)

# پیش‌بینی روی داده‌های اعتبارسنجی
y_val_pred = model.predict(X_val_split)

# ارزیابی مدل
accuracy = accuracy_score(y_val_split, y_val_pred)
print(f"Accuracy on validation set: {accuracy:.4f}\n")

print("Classification Report:")
print(classification_report(y_val_split, y_val_pred))

print("Confusion Matrix:")
print(confusion_matrix(y_val_split, y_val_pred))

Accuracy on validation set: 0.8850

Classification Report:
              precision    recall  f1-score   support

           0       0.90      0.87      0.88       398
           1       0.87      0.90      0.89       402

    accuracy                           0.89       800
   macro avg       0.89      0.88      0.88       800
weighted avg       0.89      0.89      0.88       800

Confusion Matrix:
[[346  52]
 [ 40 362]]

In [ ]:
from sklearn.metrics import (
    f1_score,
    confusion_matrix,
    classification_report,
    accuracy_score,
)

# پیش‌بینی روی داده‌های آموزش (برای مقایسه)
y_train_pred = model.predict(X_train_split)

# محاسبه f1-score با میانگین macro
f1_train = f1_score(y_train_split, y_train_pred, average="macro")
f1_val = f1_score(y_val_split, y_val_pred, average="macro")

print(f"F1 Score (macro) on Training set: {f1_train:.4f}")
print(f"F1 Score (macro) on Validation set: {f1_val:.4f}")

# در صورت نیاز می‌توان گزارش دقیق‌تری هم چاپ کرد:
print("\n--- Training Set Classification Report ---")
print(classification_report(y_train_split, y_train_pred))

print("\n--- Validation Set Classification Report ---")
print(classification_report(y_val_split, y_val_pred))

F1 Score (macro) on Training set: 0.8975
F1 Score (macro) on Validation set: 0.8850

--- Training Set Classification Report ---
              precision    recall  f1-score   support

           0       0.90      0.89      0.90      1590
           1       0.90      0.90      0.90      1610

    accuracy                           0.90      3200
   macro avg       0.90      0.90      0.90      3200
weighted avg       0.90      0.90      0.90      3200


--- Validation Set Classification Report ---
              precision    recall  f1-score   support

           0       0.90      0.87      0.88       398
           1       0.87      0.90      0.89       402

    accuracy                           0.89       800
   macro avg       0.89      0.88      0.88       800
weighted avg       0.89      0.89      0.88       800

In [ ]:
# پیش‌بینی روی داده‌های تست (که فقط ویژگی‌ها هستند)
y_test_pred = model.predict(X_test_processed)

# ساخت DataFrame خروجی
submission = pd.DataFrame({"churned": y_test_pred})

submission.head()

   churned
0        0
1        1
2        1
3        1
4        1